<!DOCTYPE html>
<html>
  <head>
    <title>LogMyJog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript">
      window.iphoneUrl = "<%= image_url('iphone.png') %>"
      window.backgroundUrl = "<%= image_url('background-splash2.png') %>"
    </script>

  </head>

  <body>
    <p><%= ENV['MAP_API'] %></p>
    <%= yield %>
  </body>
</html>
